.App {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bars-container {
  width: 100%;
  height: 66%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding: 0 20px;
}

.bar {
  width: 0.8vw;
  height: 100%;
  background-color: black;
  margin-left: auto;
}
